# SYSTEM CONFIGURATIONS
SECRET_KEY=
DEBUG=True
CORS_ALLOWED_ORIGINS=https://skills-4-hire-frontendupdate.vercel.app,https://example.com,http://localhost:3000,https://skills4hireapp.com,http://localhost:5173

# DATABASE CONFIGURATIONS
DATABASE_URL_PROD=postgres
DEVELOPMENT_DATABASE=sqlite:///C:\Users\HP ELITEBOOK\skills-4-hire-backend/database.sqlite3

# REDIS CONFIGURATION
PRODUCTION_REDIS_URL=
DEVELOPMENT_REDIS=rediss://localhost:6379/0

# EMAIL CONFIGURATION
FROM_EMAIL=l@gmail.com
BREVO_API_KEY=

# SERVICES
MAX_OTP_LENGTH=8
APP_NAME=Skills4Hire
OTP_EXPIRY=
OTP_RETRIES_PER_DAY=
REFERRAL_COMMISION=
SKILLS4HIRE_PERCENTAGE_FEE=
CONVERSATION_TRESHOLD=

#ENVIRONMENT
DJANGO_SETTINGS_MODULE=config.settings.dev

# PATHS
RESTRICTED_PATHS=auth/account/resend/otp/
BASE_URL=http://127.0.0.1:8000/
BASE_URL_PROD=https://skills4hireapp.com/
ALLOWED_HOSTS=.io


# PAYSTACK CONFIGURATION
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_SECRET_KEY=s
PAYSTACK_CHANNELS=card,bank,apple_pay,ussd,mobile_money,bank_transfer


#SocialAuth
GOOGLE_CLIENT_ID=
GOOGLE_SECRET_KEY=
